body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}

header {
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.profile {
    margin: 50px auto;
}

.profile-picture {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 150px;
    height: 150px;
}

.social-links {
    /* Style your social media icons here */
}

footer {
    color: #aaa;
    font-size: 0.75em;
    margin-top: 100px;
}

.resume-download {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    text-decoration: none; /* No underline */
    border-radius: 5px; /* Rounded corners */
}

.resume-download:hover {
    background-color: #45a049; /* Darker green background on hover */
}
